<div id="container" class="">
    <div class="relative inline-block text-left">
        <button id="employee-button" class="block ">
            <span>Employees</span>
            </button>
        <div id="employee" class="hidden">
            <div class="py-2">
                <a href="/employee/add_employee" class="block px-4 py-2 text-white-400 hover:bg-gray-800 rounded-md">Add Employee</a>
                <a href="/employee/employee_list" class="block px-4 py-2 text-white-400 hover:bg-gray-800 rounded-md">Employee List</a>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript to toggle the employee button visibility

    const employeeButton = document.getElementById('employee-button');
    const employee = document.getElementById('employee');

    employeeButton.addEventListener('click', () => {
        employee.classList.toggle('hidden');
   

    });

    // Close the employee when clicking outside of it
    document.addEventListener('click', (event) => {
        if (!employeeButton.contains(event.target) && !employee.contains(event.target)) {
            employee.classList.add('hidden');
        }
       
    });
</script>
