<!-- Side Menu Bar -->
<aside class="bg-gray-800 text-white w-1/5 min-h-screen">
    <ul class="p-4">
      <li class="py-2"><a href="#" class="block hover:bg-gray-700">Menu Item 1</a></li>
      <li class="py-2"><a href="#" class="block hover:bg-gray-700">Menu Item 2</a></li>
      <li class="py-2"><a href="#" class="block hover:bg-gray-700">Menu Item 3</a></li>
      <!-- Add more menu items as needed -->
    </ul>
</aside>