

<!-- Side Menu Bar -->
<aside class="bg-gray-800 text-white w-1/5 min-h-screen">
    <ul class="pb-4 ">
      <li class=" py-2 px-10 mt-2  hover:bg-gray-700  "><%- include('side_menu_componants/student.ejs') %></li>
      <li class=" py-2 px-10 mt-2  hover:bg-gray-700  "><%- include('side_menu_componants/teacher.ejs') %></li>
      <li class=" py-2 px-10 mt-2  hover:bg-gray-700  "><%- include('side_menu_componants/employee.ejs') %></li>
      <li class=" py-2 px-10 mt-2  hover:bg-gray-700  ">
        <a href="/books" class="block px-4 py-2 text-white-400 hover:bg-gray-800 rounded-md">Library</a>
      </li>
    </ul>
</aside>